.name
{
    display: flex;
    margin-left: 2%;
    gap: px;
}
.view
{
    margin-left: 2%;
    margin-top: 2%;
    
}
.iss
{
    /* margin-top: 0.5%; */
    width: 100%;
}
.img
{
    margin-left: 2.3%;
    padding-bottom: 2px;
}
.group 
{
    /* background-color: white; */
    margin-top: 0.5%;
    margin-left: 0.5%;
    gap: 200px;
}
.all
{
    display: flex;
    gap: 80px;
}
.back
{
    background-color: white;
    margin-top: 0.5%;
    width: 1020px;
    height: 250px;
    border-radius: 9px;
    margin-left: 4%;
}