.offer{
    display: flex;
    gap: 180px;
    margin-left: 6%;
    margin-top: 14%;
}
.tile
{
    font-size: 1.4vw;
}
.see
{
    font-size: 1.2vw;
    color:  #1877F2;
}
.info
{
    display: flex;
    font-size: 1.1vw;
    gap: 5px;
    margin-top: 7%;
    margin-left: 6%;
}
.ui{
    margin-top: 1%;
}